body{
	background-color: aqua;
}
div.gallarey{
	border:1px solid black;
	float:left;
	margin:5px;
	width:100%;

}
div.gallarey:hover {
	border:1px solid black;
}
div.gallarey img{
	width:50%;
	height:auto;
}
div.des{
	text-align:center;
	padding:20px;
	color:solid black;
}
