body{
	background-image: url("/home/qwinix/Desktop/mysore_univ.jpg" );
	background-repeat:no-repeat;
	background-size: 1300px 400px;
	background-attachment: fixed;
	background-position: center;
	background-color:green;
	

}
h1{
	text-align:center;
}
